@font-face {
    font-family: "geist";
    src: url(./assets/fonts/Geist/Geist-VariableFont_wght.ttf);
}

:root{
    --tan: #fffaed;
    --orange: #fbb200;
    --red: #f7583b;
    --strong-red: #fa2b05;
    --dark-gray: #242424;
    --light-gray: #6b6a6a;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "geist", sans-serif;
}


/* --Header-- */
header{
    background-color: var(--tan);
   width: 100%; 
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
}

.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.header-logo img{
    width: 90px;
    height: 90px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

nav button{
    position: relative;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    background-color: var(--tan);
    font-family: "geist", sans-serif;
    font-size: 1.35rem;
    transition: color 0.25s ease;
}

nav button::before{
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--red);
    transition: 0.25s ease;
}

nav button:hover::before{
    width: 100%;
}

nav button:hover{
    color: var(--red);
}


/* --Home Content-- */
/* --Section 1-- */
.home-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home-section-one{
    display: flex;
    align-items: center;
    gap: 4rem;
    max-width: 1500px;
    margin: 0 auto;
    padding: 5rem 0;
}

.home-section-one h1{
    font-size: 4rem;
    color: var(--orange);
    line-height: 1.05;
    position: relative;
}

.home-section-one h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 6px;
    background-color: var(--orange);
    border-radius: 4px;
}

.home-section-one p{
    font-size: 0.9rem;
    margin-bottom: 3.75rem;
    color: var(--dark-gray);
    line-height: 1.4;
    padding-top: 0.8rem;
}

.home-section-one img{
    width: 50%;
    height: 500px;
    object-fit: cover;
    border-radius: 50px;
}
.hero-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-container button{
    width: 150px;
    padding: 1rem 2rem;
    margin-top: 3rem;
    border: 2px solid var(--red);
    border-radius: 50px;
    background-color: var(--red);
    color: white;
    font-family: "geist", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s ease;
}

.hero-container button:hover{
    background-color: white;
    color: var(--red);
    border: 2px solid var(--red);
}

/* --Section 2-- */
.home-section-two{
    background-color: var(--tan);
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    margin-top: 1.75rem;
    width: 100%;
    padding: 5rem 0;
}

.home-section-two-inner{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.home-section-two-inner h2{
    color: var(--red);
    font-size: 2rem;
    font-weight: 600;
}

.cards-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
}

.card img{
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.card-header{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card-header h3{
    font-size: 1.75rem;
    letter-spacing: 1px;
}

.card p{
    font-size: 0.95rem;
    color: var(--dark-gray);
}


/* --Menu Content-- */
.menu-container{
    display: flex;
    flex-direction: column;
    width: 1600px;
    margin: 0 auto;
    gap: 2rem;
    padding: 4rem 0;
}

.menu-section-one, 
.menu-section-two{
    display: flex;
    flex-direction: column;
}

.menu-section-one h2, 
.menu-section-two h2{
    font-size: 2.25rem;
    color: var(--red);
    margin-bottom: 1rem;
    position: relative;
}

.menu-section-one h2::after, 
.menu-section-two h2::after{
    content: '';
    position: absolute;
    background-color: var(--orange);
    width: 55px;
    height: 4px;
    left: 0;
    bottom: -2px;
    border-radius: 2px;
}


.pizza-cards-container,
.sides-cards-container{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
    display: flex;
    justify-content: space-around;
    gap: 2rem
}

.menu-card{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    padding: 1.25rem;
}

.menu-card img{
    width: 240px;
    height: 240px;
    object-fit: cover;
    align-self: center;
    border-radius: 10px;
}

.item-name{
    font-size: 1.35rem;
    font-weight: 600;
    flex: 1;
    line-height: 1.2;
}

.item-price{
    color: var(--strong-red);
    font-size: 1.1rem;
    font-weight: 500;
}

.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-info-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid var(--light-gray);
    padding: 1rem 0;
}

.card-info-bottom{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin-top: 1rem;
    width: 350px;
}

.item-description{
    font-size: 0.9rem;
    color: var(--dark-gray);
    line-height: 1.3;
    /* display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; */
    width: 50%;
}

.item-order-btn{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: var(--orange);
    color: white;
    padding: 1rem 2rem;
    margin-top: auto;
    font-weight: 600;
    font-size: 0.9rem;
    white-space: nowrap;
    transition: 0.2s ease;
}

.item-order-btn:hover {
    background-color: var(--red);
}


/* --Footer-- */
footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

.footer-inner{
    width: 1500px;
    margin: 0 auto;
}

footer .top{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 1rem;
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-logo img{
    width: 100px;
    height: 100px;
}

.footer-logo h4{
    font-size: 2.25rem;
    font-weight: 600;
}

footer .top .left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer address {
    font-size: 0.9rem;
}

footer .top .right{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
}

footer .top .right h4{
    font-size: 2.25rem;
    font-weight: 600;
}

footer .hours-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.hours span{
    padding-left: 1.5rem;
}

p.hours,
footer span{
    font-style: italic;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

footer .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
}

footer p a{
    color: white;
    text-decoration: none;
    position: relative;
}

footer p a::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: translateX(-50%) scaleX(1);
    transform-origin: center;
    transition: transform 0.2s ease;
}

footer p a:hover::after{
    transform: translateX(-50%) scaleX(0);
}

footer svg{
    width: 20px;
    height: 20px;
    fill: white;
    transition: 0.2s ease;
}

footer svg:hover{
    fill: var(--light-gray);
}